


body {
    margin: 0;
    font-family: Garamond;
    padding: 3em;   
    
    
  }
  
  header {
    background-color: #3b2739;
    margin-bottom: 160px;
  }
  
  .logo {
    font-family: Garamond;
    font-size: 72px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
  }

  
  
  /* ---  Navigation --- */
  
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: Garamond;
  }
  
  header nav ul li a:hover {
    color: #bdbdbd;
  }
  
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }
  
  /* ---  Primary Groups --- */
  
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  
  section.mellow-background {   
    background-color: #c599bf;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
  }
  
  footer {
    background-color: #403933;
    margin-top: 40px;
    margin-bottom: 0;
  }
  
  /* ---  Typography --- */
  
  h1 {
    font-size: 32px;
    font-family: Garamond;
    font-weight: 400;
    color: #6b4375;
  }
  
  h2 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin: 0 10px;
  }
  
  h3 {
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
  }
  
  p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
   font-size: 20px;
   
   
  }
  
  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color: #8d0882; }
  main  a:visited { color: #1f60b4;; }
  main  a:hover { color: #d7dddf; }
  a:active { color: #10be45; }
  
  
  a:hover {
      text-decoration: underline;	
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 30px;
    font-weight:100;
  }
  
  
  main img {
    width: 80%;
    transition: transform .3s;
    padding-left: 2.75rem;
    padding-top: 1.25rem;
    
  }
  
  img.image-enhanced {
    border-radius: 80px;
  }
  img:hover {
    transform: scale(1.1);
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }
  item, iframe {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
  
  
  
  /* ---  (Desktop) Groups & Items --- */
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
      text-align: justify;
    }
    .group {
      flex-direction: row;
    }
    item, iframe {
      width: 250px;
      height: 350px;
      flex-direction: row;
      flex-grow: 1;
      
  }

  }
  
  
  /*--- Form Notation ---*/  
  form {   
    padding-left: 50px;
    
  }
  
  form label {
    display: flex;
  }
  
  form input, 
  form textarea {
    width: 50%;
    margin-bottom: 20px;
   
  }
  
  form textarea {
    height: 160px;
  }

  item, iframe {
    width: 350px;
    height: 350px;
    margin-left: 0px;
    background-color: #777; 
    flex-direction: row;
}
  